[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-ollama = "*"
langchain-community = "*"
langchain-core = "*"
langchainhub = "*"
langchain-tavily = "*"
pytest = "*"
black = "*"
jira = "*"
python-dotenv = "*"
openpyxl = "*"
python-docx = "*"
pypdf2 = "*"
python-magic = "*"
atlassian-python-api = "*"
html2text = "*"
libmagic = "*"
torch = "*"
transformers = "*"
pytesseract = "*"
pillow = "*"
speechrecognition = "*"
moviepy = "*"

[dev-packages]

[requires]
python_version = "3.13"
